<h1>Register a Survey Poodle</h1>

<form>
    <div>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" placeholder="Enter your username..."[(ngModel)]="user.username">
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" name="password" id="password" placeholder="Enter your password..."[(ngModel)]="user.password">
    </div>
    <br><br>

    <button (click)="onRegisterClicked()" type="button">Register</button>
</form>
<br><br>
<a routerLink="/login"> I already have an account, Login now</a>
